
@import "./helpers/variables";
@import "./helpers/mixins";
@import "./base/reset";
@import "./base/fonts";
@import "./components/form";
@import "./components/headline";
@import "./media/main";
@import "./media/intro";
@import "./sections/header";
@import "./sections/intro";
@import "./sections/portfolio";
@import "./sections/snippets";


.container{
	display: flex;
	margin: 0 auto;
	padding: 0px 15px;
}

section{
	padding: 80px 0;
}
