
@import "./helpers/variables";
@import "./helpers/mixins";
@import "./base/reset";
@import "./base/fonts";
@import "./sections/header";
@import "./sections/intro";
@import "./media/main";
@import "./media/intro";
@import "./components/form";


body{
	height: 3000px;
}

.container{
	display: flex;
	margin: 0 auto;
	padding: 0px 15px;
}
