<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="style/main.css">
	<script src="https://use.fontawesome.com/241a25b3f7.js"></script>
	<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Raleway:400,700,800&amp;subsetting=all" rel="stylesheet" type="text/css">
	
</head>
<body>
	<div class="body">
	<header class="header">	
		<navbar></navbar>

		<section class="intro">
			<div class="container">
				<div class="intro-text">
					<h1><strong>Increase</strong> Conversion Rates</h1>
					<p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy</p>
					
					<div class="intro-offers">
						<ul class="offers-list">
							<li v-for="item in offersList">
								<i class="fa fa-check-circle" aria-hidden="true"></i>{{item}}
							</li>
						</ul>

						<ul class="offers-list">
							<li v-for="item in offersList">
								<i class="fa fa-check-circle" aria-hidden="true"></i>{{item}}
							</li>
						</ul>
					</div>

		
				</div>
				<div class="intro-form">
					<form action="" @submit.prevent class="form">
						<h2>Start Your <strong>FREE</strong> Trial</h2>
						<input type="text" v-model="introName" required placeholder="Your Name">
						
						<input type="text" v-model="introEmail" required placeholder="Your e-mail">
						<input type="text" v-model="introPhone" required placeholder="Your Phone">
						<div><input type="submit" @click="startIntroPreload" value="Get Your Free Trial"></div>
						<p v-show="sendingIntroForm"><i class="fa fa-spinner fa-spin fa-2x"></i> Please Wait...</p>
					</form>	
				</div>
			</div>
		</section>
	</header>

	<section class="portfolio">
		<div class="container">
			<div class="headline">
				<h2>Our Work</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, molestiae!</p>
			</div>

			<div class="portfolio-inner">
				<portfolio></portfolio>
			</div>

		</div>
	</section>

	<section class="snippets">
		<div class="container">
			<div class="headline">
				<h2>Quick <strong>Snippets</strong></h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, molestiae!</p>
			</div>

			<div class="snippets-inner">
				<snippets></snippets>
			</div>

		</div>
	</section>

	<section class="testimonials">
		<div class="container">
			<div class="headline">
				<h2>Awesome <strong>Testimonials</strong></h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, molestiae!</p>
			</div>

			<div class="slider-inner">
				<slider></slider>
			</div>

		</div>
	</section>

	<section class="partners">
		<div class="container">
			<ul class="partners-list">
				<li><img src="http://placehold.it/150x80" alt=""></li>
				<li><img src="http://placehold.it/150x80" alt=""></li>
				<li><img src="http://placehold.it/150x80" alt=""></li>
				<li><img src="http://placehold.it/150x80" alt=""></li>
				<li><img src="http://placehold.it/150x80" alt=""></li>
				<li><img src="http://placehold.it/150x80" alt=""></li>
			</ul>
		</div>
	</section>

	<section class="prices">
		<div class="container">
			<div class="headline">
				<h2>Pricing</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, molestiae!</p>
			</div>

			<div class="packages">
				<div class="package silver-package">
					<h3 class="package-headline">Silver Package</h3>
					<h3 class="package-price">$25 <sup>.99</sup> <span>/ month</span></h3>
					<p class="package-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, error.</p>
					<ul class="package-features">
						<li>
							<span>Lorem ipsum dolor sit.</span><i class="fa fa-check"></i>
						</li>
						<li class="dissabled">
							<span>Recusandae eveniet aut a!</span><i class="fa fa-times"></i>
						</li>
						<li class="dissabled">
							<span>Sunt error explicabo dolorum?</span><i class="fa fa-times"></i>
						</li>
						<li class="dissabled">
							<span>Animi sint temporibus quae.</span><i class="fa fa-times"></i>
						</li>
					</ul>
					<div class="package-button">
						<a class="button" href="#">GET STARTED</a>
					</div>
				</div>

				<div class="package gold-package">
					<h3 class="package-headline">Gold Package</h3>
					<h3 class="package-price">$25 <sup>.99</sup> <span>/ month</span></h3>
					<p class="package-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, error.</p>
					<ul class="package-features">
						<li>Lorem ipsum dolor sit.<i class="fa fa-check"></i></li>
						<li>Recusandae eveniet aut a!<i class="fa fa-check"></i></li>
						<li>Recusandae eveniet aut a!<i class="fa fa-check"></i></li>
						<li>Sunt error explicabo dolorum?<i class="fa fa-check"></i></li>
						<li>Animi sint temporibus quae.<i class="fa fa-check"></i></li>
					</ul>
					<div class="package-button">
						<a class="button" href="#">GET STARTED</a>
					</div>
				</div>


				<div class="package platinum-package">
					<h3 class="package-headline">Platinum Package</h3>
					<h3 class="package-price">$25 <sup>.99</sup> <span>/ month</span></h3>
					<p class="package-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, error.</p>
					<ul class="package-features">
						<li>
							<span>Lorem ipsum dolor sit.</span><i class="fa fa-check"></i>
						</li>
						<li>
							<span>Recusandae eveniet aut a!</span><i class="fa fa-check"></i>
						</li>
						<li>
							<span>Sunt error explicabo dolorum?</span><i class="fa fa-check"></i>
						</li>
						<li class="dissabled">
							<span>Animi sint temporibus quae.</span><i class="fa fa-times"></i>
						</li>
					</ul>
					<div class="package-button">
						<a class="button" href="#">GET STARTED</a>
					</div>
				</div>
			</div>
			<h3>Need a <strong>customized</strong> plan ? Get in Touch, we will tailor you one.</h3>
		</div>
	</section>

	<section class="subscribe">
		<div class="container">
			<div class="headline">
				<h2>Get <strong>Started</strong></h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, molestiae!</p>
			</div>
			<div class="buttons-container">
				<a href="#" class="btn started">Get started</a>
				<a href="#" class="btn tour">Take tour</a>
			</div>
		</div>
	</section>

	</div>
</body>
<script src="script/main.js"></script>
</html>