	
@media (min-width:1200px) {
		.container{
			max-width:1140px;
		}
	}


@media (max-width:1200px) {
		.container{
			width:940px;
		}
	}

@media (max-width:991px) {
		.container{
			width:720px;
		}
	}

@media (max-width:768px) {
		.container{
			width:94%;
			padding:0!important;
		}
	}