@mixin offersList($color){
	li{
		display: flex;
		font-size: 0.9em;	
		color: $color;
			&:nth-child(odd){
				font-weight: bold;
			}
		}

		i{
			margin: auto 0;
			font-size: 1.8em;
			color: $check-ok-color;
			padding-right: 20px;
		}
}

@mixin custom-buttons($color, $bgc, $bordcolor,
						$color-hov, $bgc-hov, $bordcolor-hov){
	color: $color;
	background-color: $bgc;
	border: 2px solid $bordcolor;
	display: inline-block;
	padding: 15px 35px;
	margin: auto;
	text-decoration: none;
	transition: all 0.5s;
	font-weight: bold;
	font-size: .9em;
	&:hover{
		color: $color-hov;
		background-color: $bgc-hov;
		border: 2px solid $bordcolor-hov;
	}
}

@mixin custom-headline($h-color: $headline-main-color,
	 						$p-color: $headline-color,
	 						$border-color: rgba($headline-color,.4)){
		h2{
			color: $h-color;
			border-bottom: 2px solid $border-color;
			font-size:2.2em;
			display: inline-block;
			padding: 15px;
			font-weight: 100;
		}
		p{
			font-size:0.9em;
			color: $p-color;
			padding: 15px;
		}
	}