$active-color: #00A8D6;
$h-border-color: #484F5E;
$check-ok-color: #8FB73C;
$main-font-color: #7E7A7A;
$section-bg-color: #FAFAFA;
$headline-main-color: #31373A;
$headline-color: #a2a2a3;
$lighten-border-color: #EFEFEF;