.questions{
	.container{
		flex-direction: column;
	}

	.content{
		display: flex;
		flex-direction: row;
		.question-image,.question-list{
			width: 50%;
			margin: auto;
		}
		.question-image{
			display: flex;
			img{
				margin: auto;
			}
		}
	}
}


	@media (max-width:991px) {
		.questions{
			.content{
				flex-direction: column;
			}
		}
		.question-image,.question-list{
			width: 90%!important;
			margin: auto;
		}	
	}

	@media (max-width:540px) {
		.questions{
			.question-image{
				img{
					width: 100%;
					margin: auto!important;
				}
			}
		}
	}	
	